.a{
    color: var(--color-secondary);
    text-align: -webkit-center;
    font-family: sans-serif;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 50px;
    padding: 30px;
}
.b{
    display: flex;
    justify-content: center;
}
.img{
    height: 112px;
    vertical-align: middle;
}
button{
    display: inline-flex;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background-color: var(--color-tertiary);
    font-size: xx-large;
    padding: 25px 11%;
    border: none;
    border-radius: 80px;
    cursor: pointer;
}